* {
  box-sizing: border-box;
}

@import url("./ui-scss.scss");

@font-face {
  font-family: "runner-font";
  src: url("https://static.chaomanpao.com/wb/resouce/font/YouSheBiaoTiYuan-2.otf");
}
.dd-runner-font {
  font-family: "runner-font";
}
html {
  // font-size: 4.2vw; /* 根据视口宽度设置字体大小 */
  @apply tw-text-[16px];
  // max-sm:tw-text-[4vw];
}

.dd-container {
  width: 100%;
  @apply xl:tw-w-[1280px] md:tw-w-[768px] lg:tw-w-[1000px] tw-mx-auto ss:tw-px-[1rem];
}
$fontSizes: (
  "20-12": (
    12,
    16,
    20,
  ),
  20: (
    16,
    18,
    20,
  ),
  30: (
    22,
    28,
    36,
  ),
  34: (
    20,
    28,
    34,
  ),
  36: (
    24,
    30,
    36,
  ),
  42: (
    30,
    35,
    42,
  ),
  46: (
    36,
    40,
    46,
  ),
  48: (
    36,
    40,
    48,
  ),
  "48-28": (
    28,
    37,
    48,
  ),
  84: (
    48,
    70,
    84,
  ),
  60: (
    46,
    50,
    60,
  ),
  54: (
    42,
    45,
    54,
  ),
);
@each $key, $value in $fontSizes {
  .dd-fs-#{$key} {
    @apply max-md:tw-text-[#{nth($value, 1)}px] max-lg:tw-text-[#{nth($value, 2)}px] lg:tw-text-[#{nth($value, 3)}px];
  }
}

.dd-title-text {
  @extend .dd-fs-36;
}

.download-app-popover {
  width: 144px !important;
  padding: 8px 0 !important;
  box-sizing: border-box;
}
