* {
  box-sizing: border-box;
}

@import url("./ui-scss.scss");

html {
  // font-size: 4.2vw; /* 根据视口宽度设置字体大小 */
  @apply tw-text-[16px];
}

.dd-container {
  width: 100%;
  @apply xl:tw-w-[1280px] md:tw-w-[768px] lg:tw-w-[1000px] tw-mx-auto ss:tw-px-[1rem];
}
$fontSizes: (
  30: (
    22,
    28,
    36,
  ),
  36: (
    24,
    30,
    36,
  ),
  42: (
    30,
    35,
    42,
  ),
  46: (
    36,
    40,
    46,
  ),
  48: (
    36,
    40,
    48,
  ),
  84: (
    48,
    70,
    84,
  )
);
@each $key, $value in $fontSizes {
  .dd-fs-#{$key} {
    @apply max-md:tw-text-[#{nth($value, 1)}px] max-lg:tw-text-[#{nth($value, 2)}px] lg:tw-text-[#{nth($value, 3)}px];
  }
}

.dd-title-text {
  @extend .dd-fs-36;
}
