* {
  box-sizing: border-box;
}

@import url("./ui-scss.scss");

@font-face {
  font-family: "runner-font";
  src: url("https://static.chaomanpao.com/wb/resource/font/YouSheBiaoTiYuan-2.otf");
}
.dd-runner-font {
  font-family: "runner-font";
}
html {
  // font-size: 4.2vw; /* 根据视口宽度设置字体大小 */
  @apply tw-text-[16px];
  // max-sm:tw-text-[4vw];
}

.dd-container {
  width: 100%;
  @apply xl:tw-w-[1280px] md:tw-w-[768px] lg:tw-w-[1000px] tw-mx-auto ss:tw-px-[1rem];
}
.dd-container-list {
  @apply tw-grid xl:tw-grid-cols-3 tw-gap-[40px] md:tw-grid-cols-2 max-md:tw-grid-cols-1;
}

.dd-container-list-left {
  @apply tw-grid xl:tw-grid-cols-2 tw-gap-[40px] md:tw-grid-cols-2 max-md:tw-grid-cols-1;

}
.dd-content-padding {
  @apply md:tw-pt-[88px] max-md:tw-pt-[82px];
}
$fontSizes: (
  "18-16": (
    16,
    17,
    18,
  ),
  "22-14": (
    14,
    18,
    22,
  ),
  "30-16": (
    16,
    20,
    30,
  ),
  "20-12": (
    12,
    16,
    20,
  ),
  20: (
    16,
    18,
    20,
  ),
  30: (
    22,
    28,
    36,
  ),
  34: (
    20,
    28,
    34,
  ),
  '36-32': (
    32,
    34,
    36,
  ),
  36: (
    24,
    30,
    36,
  ),
  42: (
    30,
    35,
    42,
  ),
  46: (
    36,
    40,
    46,
  ),
  48: (
    36,
    40,
    48,
  ),
  "48-28": (
    28,
    37,
    48,
  ),
  84: (
    48,
    70,
    84,
  ),
  '84-44': (
    44,
    48,
    84,
  ),
  60: (
    46,
    50,
    60,
  ),
  54: (
    42,
    45,
    54,
  ),
);
@each $key, $value in $fontSizes {
  .dd-fs-#{$key} {
    @apply max-md:tw-text-[#{nth($value, 1)}px] max-lg:tw-text-[#{nth($value, 2)}px] lg:tw-text-[#{nth($value, 3)}px];
  }
}

.dd-title-text {
  @extend .dd-fs-36;
}

.download-app-popover {
  width: 144px !important;
  padding: 8px 0 !important;
  box-sizing: border-box;
}

.el-popover.el-popper {
  min-width: unset;
}

.download-app-btn {
  span {
    font-weight: 600;
    line-height: 22px;
  }
}